In [537]:
import numpy as np 
import pandas as pd

In [538]:
df = pd.read_csv("dataset0_rawdata.csv")

In [539]:
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,Data.Fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [540]:
df = df.rename(
    columns={
        "Data.Protein" : "protein",
        "Data.Fat.Total Lipid" : "fat",
        "Data.Carbohydrate" : "carbs",
        "Data.Fiber" : "fiber"
    },
)

In [541]:
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,carbs,Data.Cholesterol,Data.Choline,fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [542]:
df_new = df[["Category","Description","carbs","protein","fat","fiber"]].copy()

In [543]:
# Dropping irrelevant records
df_new.drop(df_new[df_new["Description"] == "Milk, human"].index, inplace=True)
df_new.drop(df_new[df_new["Category"] == "Infant formula"].index, inplace=True)

In [544]:
df_new.head()

  Category                            Description  carbs  protein   fat  fiber
1     Milk                              Milk, NFS   4.87     3.34  1.99    0.0
2     Milk                            Milk, whole   4.67     3.28  3.20    0.0
3     Milk                Milk, low sodium, whole   4.46     3.10  3.46    0.0
4     Milk         Milk, calcium fortified, whole   4.67     3.28  3.20    0.0
5     Milk  Milk, calcium fortified, low fat (1%)   5.19     3.38  0.95    0.0

In [545]:
df_new["calories"] =  (df_new["protein"]*4)+(df_new["carbs"]*4)+(df_new["fat"]*9)

In [546]:
df_new.head()

,Category,Description,carbs,protein,fat,fiber,calories
1,Milk,"Milk, NFS",4.87,3.34,1.99,0.0,50.75
2,Milk,"Milk, whole",4.67,3.28,3.20,0.0,60.60
3,Milk,"Milk, low sodium, whole",4.46,3.10,3.46,0.0,61.38
4,Milk,"Milk, calcium fortified, whole",4.67,3.28,3.20,0.0,60.60
5,Milk,"Milk, calcium fortified, low fat (1%)",5.19,3.38,0.95,0.0,42.83

In [547]:
#Define Tagging Function
def assign_goal(row):
    cal = row["calories"]
    prot = row["protein"]
    fat = row["fat"]
    carbs = row["carbs"]
    cat = row["Category"]
    
    if prot >= 15 and cal >= 250:
        return "gain"
    elif prot >= 15 and cal <= 150 and fat <= 5:
        return "lean_protein"
    elif fat <= 5 and cal <= 120:
        return "weight_loss"
    elif 8 <= prot <= 20 and 150 <= cal <= 300 and 5 <= fat <= 15:
        return "maintenance"
    elif "chicken" in cat.lower() and prot>= 20 and cal < 200:
        return "lean_protein"
    else:
        return "general"

df_new["goal_tag"] = df_new.apply(assign_goal, axis=1)

In [548]:
df_new["goal_tag"].value_counts()

goal_tag
general         3382
weight_loss     2139
maintenance      698
gain             434
lean_protein     256
Name: count, dtype: int64

In [549]:
indices_to_drop = df_new[df_new["Category"]=="Beef"].index

In [550]:
df_new.drop(indices_to_drop,inplace=True)

In [551]:
def get_food_type(desc):
    desc = desc.lower()
    if any(x in desc for x in ["chicken","meat","pork","fish","squid","tuna",'whiting',"tilapia",'fish', 'salmon', 'tuna', 'cod', 'haddock', 'mackerel', 'halibut', 'snapper', 'sardine', 'anchovy',
    'tilapia', 'bass', 'catfish', 'swordfish', 'trout', 'pollock', 'grouper', 'barramundi', 'bluefish',
    'herring', 'flounder', 'sole', 'shrimp', 'prawn', 'lobster', 'crab', 'crayfish', 'clam', 'mussel',
    'oyster', 'scallop', 'cockle', 'whelk', 'abalone', 'squid', 'octopus', 'cuttlefish', 'eel', 'uni',
    'sea urchin', 'sea cucumber', 'jellyfish',"turtle","ocean perch","perch","pike","porgy","mullet",
    "frog legs","goat","ham","bison","moose","turkey","croaker","canadian bacon","frankfurter or hot dog",
    " venison/deer steak","wild pig","cornish game hen","kidney","venison or deer with tomato-based sauce",
    "venison or deer with gravy","venison/deer steak","gizzard"]):
        return "non_veg"
    else:
        return "veg"

In [552]:
df_new["diet_type"] = df_new["Description"].apply(get_food_type)

In [553]:
df_new[df_new["diet_type"]=="non_veg"]

,Category,Description,carbs,protein,fat,fiber,calories,goal_tag,diet_type
21,Goat's milk,"Goat's milk, whole",4.45,3.56,4.14,0.0,69.30,weight_loss,non_veg
488,Custard pudding,"Custard pudding, flavor other than chocolate, ...",16.79,1.68,1.49,0.1,87.29,weight_loss,non_veg
490,Custard pudding,"Custard pudding, baby food, flavor other than ...",17.58,1.76,0.98,0.2,86.18,weight_loss,non_veg
504,Cheese,"Cheese, goat",0.12,21.58,29.84,0.0,355.36,gain,non_veg
577,Topping from meat pizza,Topping from meat pizza,5.65,19.19,24.52,0.7,320.04,gain,non_veg
...,...,...,...,...,...,...,...,...,...
6899,Cape Cod,Cape Cod,10.18,0.00,0.08,0.0,41.44,weight_loss,non_veg
6946,Champagne punch,Champagne punch,12.22,0.16,0.08,0.1,50.24,weight_loss,non_veg
7059,Breakfast meat as ingredient in omelet,Breakfast meat as ingredient in omelet,1.61,20.81,17.87,0.0,250.51,gain,non_veg
7060,Fish fillet,"Fish fillet, fried as ingredient in sandwiches",8.18,18.11,10.03,0.3,195.43,maintenance,non_veg
7081,Sauce as ingredient in hamburgers,Sauce as ingredient in hamburgers,17.14,1.34,22.85,0.6,279.57,general,non_veg

In [554]:
#Converting categories to lower case
df_new["Category"] = df_new["Category"].str.lower()
df_new["Description"] = df_new["Description"].str.lower()

In [555]:
# Filter out rows where 'beef' is mentioned in either description or category
df_new = df_new[~df_new['Description'].str.contains('beef', na=False)]
df_new = df_new[~df_new['Category'].str.contains('beef', na=False)]
df_new = df_new.reset_index(drop=True)

In [556]:
df_new.head()

,Category,Description,carbs,protein,fat,fiber,calories,goal_tag,diet_type
0,milk,"milk, nfs",4.87,3.34,1.99,0.0,50.75,weight_loss,veg
1,milk,"milk, whole",4.67,3.28,3.20,0.0,60.60,weight_loss,veg
2,milk,"milk, low sodium, whole",4.46,3.10,3.46,0.0,61.38,weight_loss,veg
3,milk,"milk, calcium fortified, whole",4.67,3.28,3.20,0.0,60.60,weight_loss,veg
4,milk,"milk, calcium fortified, low fat (1%)",5.19,3.38,0.95,0.0,42.83,weight_loss,veg

In [557]:
# New whey protein row as a dictionary
whey_entry = {
    "Category": "Supplements",
    "Description": "Whey Protein Isolate",
    "carbs": 2.0,
    "protein": 85.0,
    "fat": 1.5,
    "fiber": 0.0,
    "calories": (85 * 4) + (2 * 4) + (1.5 * 9),  # 350.5
    "goal_tag": "lean_protein",
    "diet_type": "veg"
}

# Append to your DataFrame
df_new = pd.concat([df_new, pd.DataFrame([whey_entry])], ignore_index=True)

In [558]:
import pandas as pd

# Create 3 new entries
veg_proteins = [
    {
        "Category": "Plant Protein",
        "Description": "Tofu (firm)",
        "carbs": 2.0,
        "protein": 17.0,
        "fat": 8.0,
        "fiber": 1.5,
        "calories": (17 * 4) + (2 * 4) + (8 * 9),  # 68 + 8 + 72 = 148
        "goal_tag": "lean_protein",
        "diet_type": "veg"
    },
    {
        "Category": "Plant Protein",
        "Description": "Tempeh",
        "carbs": 9.0,
        "protein": 19.0,
        "fat": 11.0,
        "fiber": 1.0,
        "calories": (19 * 4) + (9 * 4) + (11 * 9),  # 76 + 36 + 99 = 211
        "goal_tag": "lean_protein",
        "diet_type": "veg"
    },
    {
        "Category": "Dairy",
        "Description": "Low-Fat Paneer",
        "carbs": 3.0,
        "protein": 20.0,
        "fat": 8.0,
        "fiber": 0.0,
        "calories": (20 * 4) + (3 * 4) + (8 * 9),  # 80 + 12 + 72 = 164
        "goal_tag": "lean_protein",
        "diet_type": "veg"
    }
]

# Convert to DataFrame and concat
df_new = pd.concat([df_new, pd.DataFrame(veg_proteins)], ignore_index=True)

In [559]:
df_new.to_csv("dataset1_filtering_done.csv")